@import "../../vars.css";

.container {
  position: relative;
  box-sizing: border-box;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 44px 73px;
  margin-top: 96px;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
}

.title {
  margin: 0 0 18px 0;
  color: var(--color-text);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutImage {
  width: 35%;
  max-height: 240px;
  object-fit: contain;
  align-self: flex-start;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 16px 18px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 6px 0;
  line-height: 1.25;
}

.aboutItem p {
  margin: 0;
  font-size: 17px;
  line-height: 1.45;
  text-align: justify;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin-top: 18px;
    gap: 22px;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
  }
}
